[2018-02-16 14:17] antonbabenko opened #3 "Add support for other types of SNS messages"
See this module and fixtures for an inspiration - https://github.com/tdmalone/sns-to-slack/tree/master/tests/fixtures

[2018-04-24 22:22] brainsik opened #6 "Resource gets modified when absolute path to module changes"
Hello. It appears the absolute path of the module is encoded in the state such that using the _exact same_ Terraform in two different paths produces state changes instead of producing no changes at all.

For example:

[code]

This is problematic for having different users running `terraform plan` locally while doing development work as they end up getting this false change in their output.

Is the

[2018-05-29 01:30] lorengordon commented on #6
Probably safe to modify the resource in main.tf to ignore changes to the filename. It ought to generate changes if the sha changes, anyway...

[2018-05-29 14:49] #6 closed

[2018-05-29 14:49] antonbabenko commented on #6
Fixed in [v1.3.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v1.3.0)

[2018-06-04 13:59] xliiv opened #8 "How can I integrate it with cloudwatch_metric_alarm?"
How can I integrated it with
https://www.terraform.io/docs/providers/aws/r/cloudwatch_metric_alarm.html
?
Let's say I'd like to notify slack about idling machines?

[2018-06-04 14:22] antonbabenko commented on #8
There is an example for this - https://github.com/terraform-aws-modules/terraform-aws-notify-slack/tree/master/examples/cloudwatch-alerts-to-slack

[2018-06-04 23:10] brainsik commented on #6
This is still a problem due to the "last_modified" attribute which is based on when the local file was modified. This means its different for different users depending on when they ran `terraform init`. I'll make  PR shortly.

[2018-06-05 07:13] xliiv commented on #8
Thanks, how come I overlooked it? Nvm.
Could we write [here](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/blob/master/examples/cloudwatch-alerts-to-slack/main.tf#L9) where encryption should be?
Now it's written where, so for someone less experienced it's enigmatic. :)

[2018-06-05 07:52] antonbabenko commented on #8
You are right, the comment in the code is not perfect. URL can be there and it is fine that it is visible as it is in most cases. That URL will be persisted in stdout and tfstate file anyway.

[2018-06-05 11:18] xliiv opened #10 "Error "value of 'count' cannot be computed""
So I'm mostly copied the code from [cloudwatch-alerts-to-slack](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/tree/master/examples/cloudwatch-alerts-to-slack) example.
And I'm getting error:

[code]

Here's the copied code:

[code]
Am I missing something?

[2018-06-05 11:19] xliiv commented on #8
Thanks for help, I'm closing it.

[2018-06-05 11:19] #8 closed

[2018-06-18 11:21] xliiv commented on #10
It's something with `Option 3` setup:
[code]
becasue `Option 1` works:

[code]

[2018-06-18 11:48] xliiv commented on #10
The problem is with this line:
https://github.com/terraform-aws-modules/terraform-aws-notify-slack/blob/efac652a08a1a8f9ccb99dc660dc0cda47d36f25/iam.tf#L31
because when I fix the count to 0 or 1 (and use this module as sources) like
[code]
Everything works

Related issue: https://github.com/hashicorp/terraform/issues/17421

[2018-06-18 21:08] sprutner opened #16 "Unable to load Lambda function using shared state"
Ran into this error when a teammate tried to run an apply on the state. My absolute state seems to have been written to the state.

[code]

This looks like an emergence of https://github.com/hashicorp/terraform/issues/7613

[2018-06-19 19:52] #16 closed

[2018-06-20 17:53] antonbabenko commented on #10
@xliiv sorry for the delay in my response.

Yes, HCL2 will have it fixed. Meanwhile, you have to specify key using any of available options (static var, data-source, or pass from tfvars, or from CLI). Everything will work except computed values (`${aws_kms_key.this.arn}`).

There is not much this module can do about it to keep in an easy-maintainable condition.

[2018-06-20 17:53] #10 closed

[2018-06-21 06:22] xliiv commented on #10
Is this mean that [example](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/tree/master/examples/cloudwatch-alerts-to-slack#option-1) doesn't work?
There is used `${aws_kms_key.this.arn}`.

[2018-06-21 07:51] antonbabenko commented on #10
You are right, it does not work as it is now in that example. My bad.

I will make a PR now which will fix this.

[2018-06-21 08:05] antonbabenko commented on #10
[v1.9.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v1.9.0) has been released. I've updated examples there.

Thanks a lot for opening this issue!

[2018-09-07 02:14] cgomestw opened #21 "Unable to load notify_slack.zip (no such file or directory)"
When I run apply I have this error:

[code]

My module source is:
[code]
And I reference it using:
[code]

[2018-09-27 10:10] stephgosling commented on #21
@cgomestw had you just upgraded/re-`get`'d the module? I've just seen the same behaviour as you and it's because my state had an hard-coded path to that zip file that no longer matched the hash for the module.  If you edit your state file to use the correct hash you can then successfully `apply` the module.

There does appear to be a breaking change in there at some point in the past. My local mod

[2018-11-08 13:58] PatrickMans opened #22 "cloudwatch error in Lambda decoder."
With the simple example, I get the following cloudwatch error:

[code]

I am trying to send an SNS message via CLI:

`aws sns publish --topic-arn --topic-arn <my_sns_topic> --message " This is a test" `
upon which I receive a MessageId.

What am I doing wrong here?

[2018-12-23 09:47] ryron01 commented on #22
This is caused by the SNS event, which is a dictionary, being loaded as json on line 76.
I changed it to
`message = event['Records'][0]['Sns']['Message']`

[2018-12-27 21:58] walterheck commented on #21
@antonbabenko this is biting us also, any chance it can be fixed?

[2018-12-27 22:07] cgomestw commented on #21
hello, the problem persist? I can fix tomorrow

On Thu, Dec 27, 2018 at 7:58 PM Walter Heck <notifications@github.com>
wrote:

--
Camilla Gomes | Lobinha
Consultant Developer
Email cgomes@thoughtworks.com

[image: ThoughtWorks]

||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

*"Close this world, Open the nExt"*

[2018-12-28 09:35] antonbabenko commented on #21
@walterheck I'd like to help, but I don't know how. Example code works, I've just run https://github.com/terraform-aws-modules/terraform-aws-notify-slack/tree/master/examples/notify-slack-simple and it works as expected.

Can you try the low-level fix and see whether it helps - `rm -rf .terraform && terraform init`?

@cgomestw If you can investigate and fix the problem it would very nice.

[2018-12-28 09:42] walterheck commented on #21
@antonbabenko it has something to do with first having an older version fo the module, running terraform apply to write it to state, then updating the module and seeing the error.

rm -rf .terraform doesn't work as the statefile has an entry that mentions a path for the zip file, but once you upgrade the module the path in the statefile goes to the old directory and that doesn't exist anymore.

I

[2018-12-28 09:50] antonbabenko commented on #22
This issue has been just fixed in [v1.11.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v1.11.0).

Kudos to @ryron01 !

[2018-12-28 09:50] #22 closed

[2018-12-28 10:00] antonbabenko commented on #21
I see, sometimes when you have to deal with existing (often corrupted) information in state file you can try these workarounds (starting from the easiest at the top):
1. Append `-refresh=false` to prevent it from updating the state before planning changes.
1. Append `-target=module.databases.module.rds_notify_slack.module.notify_slack.aws_lambda_function.notify_slack` to limit the scope of changes

[2019-01-02 06:47] walterheck commented on #21
In my opinion updating a module should never lead to a problem with a previously made state, this zipfile is the first i've seen that happen.

[2019-01-07 14:19] PatrickMans opened #24 "string indices must be integers: TypeError"
Just rolled out the latest pull, which still contains an error:

I am worthless when it comes to python, so I don't have a clue as to how to solve this one. When publishing plain text to this topic, it does work.

[2019-01-09 08:59] yujunz commented on #24
Met similar error for CloudWatch Alarm

[code]

[2019-01-09 13:56] fbcbarbosa commented on #24
Same issue!

Reverting to previous version seems to have fixed it:

[code]

This seems to be the problem: https://github.com/terraform-aws-modules/terraform-aws-notify-slack/pull/23

It's not parsing the message from a json to a python dictionary anymore, but it is accessing the object as if it were a dictionary here: https://github.com/terraform-aws-modules/terraform-aws-notify-slack/blob/master/

[2019-01-09 14:00] fbcbarbosa commented on #24
@antonbabenko @ryron01 maybe you can shed some light on this?

I was going to fork this and open a PR reverting https://github.com/terraform-aws-modules/terraform-aws-notify-slack/pull/23, but that's the only commit in the latest release. _If this is really the issue_ then deleting release 1.11 instead might be the best option.

[2019-01-09 14:54] antonbabenko commented on #24
If I understand correctly and I ran it myself to test the fix introduced in #23, it was necessary.

Additionally, we need to fix the error `TypeError: string indices must be integers` as described in the current issue.

Anyone?

[2019-01-09 16:15] fbcbarbosa commented on #24
I think the error is what I pointed out in my previous comment:

So at line 22, messsage is of type "string", not "dict". Thus accessing it as `message['NewStateValue']` is invalid.

Just out of curiosity, what was that fixing?

I reverted to 1.10.0 on my environments and its working fine, so I guess the fix might have been targeted at a different use case than mine.

[2019-01-12 17:08] ryron01 commented on #24
@nyamada2 is correct that is the error that #23 was fixing.  In the incoming event, event['Records'][0]['Sns']['Message'] is not valid json in my case.  See the example below.

If someone can provide an example  AWS event that includes `[message['NewStateValue']]` I'd be willing to take a look at it.

`{
  "Records": [
    {
      "EventSource": "aws:sns",
      "EventVersion": "1.0",
      "Event

[2019-01-14 21:00] RupertExact commented on #21
We are having the same issue. But it doesn't always happen on every apply. Sometimes it works, sometimes it doesn't. We almost never change the code that calls or uses the module so it's not like there's a change that causes the issue.And we do have other terraformed lambda functions that don't cause this issue.
Just in case it was an issue with the way the file gets called, I re-wrote that part b

[2019-01-15 15:04] akurtasinski commented on #24
Full event from CloudWatch:
`{'Records': [{'EventSource': 'aws:sns', 'EventVersion': '1.0', 'EventSubscriptionArn': 'EventSubscriptionArn', 'Sns': {'Type': 'Notification', 'MessageId': 'MessageId', 'TopicArn': 'TopicArn', 'Subject': 'ALARM: "ecs-service-CPUUtilization" in EU (Ireland)', 'Message': '{"AlarmName":"ecs-service-CPUUtilization","AlarmDescription":"This alarm triggers when service CPU u

[2019-01-16 00:36] fbcbarbosa commented on #24
Hi @ryron01

I'm not sure I got it right, but your example is a generic example message. This module documentation says it supports CloudWatch Events only, and it seems that every CW event payload is a json (if someone has an example where it isn't that'd be helpful).

And if it's not a json, then the rest of the module will fail anyway, wouldn't it?

Anyway, wouldn't the solution to simply try to

[2019-01-17 15:05] PatrickMans commented on #24
I would love to post the complete message here, as being sent by SNS towards lambda... but.. how do I get the message from the log?

[2019-01-21 11:18] yujunz commented on #24
@ryron01 's patch works for me.

[2019-02-22 08:37] antonbabenko commented on #24
[v1.13.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v1.13.0) has been released with _similar_ fix.

[2019-02-22 08:37] #24 closed

[2019-03-25 12:29] ldormoy commented on #21
I just ran into the same issue, fixed by removing this line:
https://github.com/terraform-aws-modules/terraform-aws-notify-slack/blob/master/main.tf#L80

[2019-04-25 10:15] richardj-bsquare commented on #21
Confirmed, thanks!

[2019-05-23 05:02] digitalkaoz opened #32 "Terraform 0.12"
currently Terraform 0.12 is not supported

[2019-05-28 14:58] ndarwincorn commented on #21
For folks running separate plan/applies in ephemeral CI/CD and not passing the .terraform directory between the two, [this appears to be the cause of the issue](https://github.com/terraform-providers/terraform-provider-archive/issues/39).

[2019-06-02 20:37] cdaniluk commented on #32
Submitted a new PR For this. Did not find that the PR submitted by @digitalkaoz actually worked. This may also address #21.. tested w/both module ref and local ref in a few different ways and do not think that path swapping is necessary anymore.

[2019-06-04 02:18] digitalkaoz commented on #32
@cdaniluk closing in favor of your PR. i didnt tried after upgrade, thanks for your work!

[2019-06-04 02:18] #32 closed

[2019-06-26 20:59] rraub commented on #21
FYI line 80 in main.tf is a moving target, I think you were referring to this specific version: https://github.com/terraform-aws-modules/terraform-aws-notify-slack/blob/1d2381abf0e0fc0a0159f06a3aba98b712520661/main.tf#L80

Removing `filename` from the lifecycle looks like this:
[code]
And for what its worth that solved this problem for me as well.

[2019-07-04 19:43] e-moshaya opened #37 "\n newlines are not working with this module"
I'm using this module for AWS Budgets notifications. However, messages appear in slack from aws budgets with \n not breaking lines.

![Screenshot 2019-07-04 at 20 43 04](https://user-images.githubusercontent.com/44640934/60685680-5898b380-9e9c-11e9-9b6e-112037e2fed9.png)

[2019-10-25 14:04] RobertoUa opened #41 "Allow setting lambda function description"

[2019-11-05 20:33] bushong1 opened #46 "When passing in SNS Topic, there's a race condition if it's not already created"
If the SNS topic passed in is NOT already created, the notify-slack module will fail.  This is due to [notify-slack's data objects](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/blob/master/main.tf#L1-L5) being resolved before my `resource` objects.
[code]

From what I can tell, the only usage of the data resource is to ensure that SNS exists before running, and then to craft

[2019-11-05 20:45] bushong1 commented on #46
The workaround for this is to target your sns topic and apply it before you plan the rest of your stuff.  It works, but when your system is set up for applying terraform with a CI Pipeline, this falls apart.
[code]

[2019-11-08 21:07] antonbabenko commented on #46
Hi @bushong1 !

I agree it should work automatically within a CI/CD pipeline and, I believe, it does so.

I tried to reproduce this issue on version 2.0.0 with the exact code as you provide. See [this updated example](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/blob/1b7678d531c77304b2c8097c26692033ca32e0c0/examples/notify-slack-simple/main.tf).

The sequence of execution is

[2019-11-13 12:56] bushong1 commented on #46
Thanks for looking into it.  Sorry about the 'sample code' that worked.  I was trying to condense the issue from our code found here: https://github.com/USSBA/terraform-aws-sns-notification-framework/blob/master/main.tf

I'm curious if it has something to do with nested modules?  I'll try testing it out.

[2019-11-15 15:01] bushong1 commented on #46
Okay @antonbabenko, here's an update:

**TL;DR:  Try your sample code again, but with a workspace that has already had 1 deployment to it.**

Here's my brain-train of how I got to replicate the issue:
With a file `sns.tf`
[code]
Running this with a workspace that has some of my application or account code, I get the error:
[code]

But... running this same code in a fresh workspace with no other co

[2019-11-20 16:32] jualbacar opened #48 "Lambda error with GuardDuty findings"
Hi all,

I have set up this module to get slack notifications when a GuardDuty finding is found. There is a CW event that publishes the message to the SNS topic. I generate the samples findings from the GuardDuty console but nothing arrives. Looking to the lambda execution logs, I found this errors:

[code]

I supposed this lambda is not made for parsing GD findings.
Any workaround?

[2019-11-26 12:40] wittro opened #49 "Deprecation Warning occurred with Terraform v0.12.14+"
Hi, Terraform warns `Quoted references are deprecated` at [this part](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/blob/v2.3.0/main.tf#L107). No need to quote a reference in `depends_on` .

See https://discuss.hashicorp.com/t/terraform-0-12-14-released/3898

[2019-12-05 23:31] mr337 commented on #37
I ran into the same issue, the quick fix was to remove the `json.dumps` at https://github.com/terraform-aws-modules/terraform-aws-notify-slack/blob/master/functions/notify_slack.py#L42.

I have been testing this in a deployment and so far everything is working properly since it is dumped later before sending. Still evaluating if it broke something else before I submit a PR.

[2019-12-09 20:02] mr337 commented on #37
@e-moshaya If you have a chance to test this https://github.com/terraform-aws-modules/terraform-aws-notify-slack/pull/52 please do!

[2019-12-11 15:00] rlinstorres opened #53 "Lambda function HTTP Error"
Hi all!

I using this module to send all alerts of the AWS, but when this function run occurs this error.

What is the problem? Security Group?

Thanks!

`[ERROR] HTTPError: HTTP Error 404: Not Found Traceback (most recent call last):   File "/var/task/notify_slack.py", line 84, in lambda_handler notify_slack(subject, message, region)   File "/var/task/notify_slack.py", line 77, in notify_slack ur

[2019-12-12 16:58] tophercullen commented on #21
I ran into this issue and found a permanent solution that doesn't require modifying the module.

The issue is as @stephgosling describes. The module's path is hard coded into the state. This is a problem because in the TF registry, each version of the module has a unique sha affixed path. So *any* time the module version changes, it *will* break. The only way to fix it, is to manually `terraform t

[2019-12-17 17:40] bushong1 commented on #46
Any update on this, @antonbabenko ?

[2019-12-20 19:21] antonbabenko commented on #49
[v2.5.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v2.5.0) has been just released with this fix.

[2019-12-20 19:21] #49 closed

[2019-12-20 21:15] #37 closed

[2019-12-20 21:17] antonbabenko commented on #37
@e-moshaya This is now fixed in [v2.7.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v2.7.0).

[2019-12-20 21:23] antonbabenko commented on #53
Hi @rlinstorres !

Such HTTP errors are usually happening when you don't provide correct `slack_webhook_url`.

Please use [v2.7.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v2.7.0) where HTTP errors and are being caught with more details.

[2019-12-20 22:54] mr337 commented on #37
Thanks!

[2019-12-21 10:46] antonbabenko commented on #48
You are right, AWS GuardDuty logs are not supported yet by this module, but it should be a rather straightforward thing to add to this module once you know the structure of JSON messages (I don't know it).

[2019-12-21 11:35] antonbabenko commented on #41
[v2.8.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v2.8.0) has been released with this feature. Use `lambda_description` argument for that.

[2019-12-21 11:35] #41 closed

[2019-12-21 11:47] antonbabenko commented on #46
Unfortunately, I don't understand what is going on here in your code. You are using Terraform workspaces and I am almost certain that the problem is related to that.

PS: I am against using Terraform workspaces in 99% of cases (including yours) :)

[2019-12-23 14:14] rlinstorres commented on #53
Hi @antonbabenko , thanks for your reply!

Now I'm try with version v2.7.0 and this is the error:

`START RequestId: c1433d02-7170-44f1-8a9b-accd03de9980 Version: $LATEST
[WARNING]	2019-12-23T14:10:32.676Z	c1433d02-7170-44f1-8a9b-accd03de9980	Event logging enabled: `
{
    "Records": [
        {
            "EventSource": "aws:sns",
            "EventVersion": "1.0",
            "EventSubscription

[2019-12-23 17:09] antonbabenko commented on #53
The test case you have is working well when I run it inside `notify_slack_test.py`, so I would recommend taking a look at IAM and network connectivity (VPC, Security Groups, NACL...) where AWS Lambda function is running.

[2019-12-27 18:52] bushong1 commented on #46
@antonbabenko okay, as I said at the top with some rewording:
Try your sample code again, but with a ~workspace~ terraform state that has already had 1 deployment to it.

For example:
`tf apply` this:
[code]
and then edit the file to be this and apply again:
[code]

[2019-12-31 23:03] dynamike commented on #46
I just ran into this issue as well and have hit it in other modules in the past. I believe this is due to a change of behavior in terraform 0.12. The suggested change is we should no longer be looking up data sources from inside modules, but instead we should be passing in the entire resource objects as variables. See https://github.com/hashicorp/terraform/issues/22730 for details.

[2020-01-04 15:29] cmosguy opened #59 "Question: create notification to ec2 to shutdown"
I was curious if anyone has figured out how to write a lambda function that actually detects an sns topic event and then shuts down or stops an instance?

[2020-01-05 14:31] sunnykrGupta opened #60 "Creating CloudWatch Log Group failed: OperationAbortedException"
[code]

I thought may be resource already exits. so ran `terraform destroy` to give a clean restart and verified manually. Again, failed when it is tried to create log Group which is correct as it already exists. Any help will be appreciated. :)

[2020-01-05 14:49] sunnykrGupta commented on #60
`UPDATES`
I rolled back the tag to [2.3.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/tag/v2.3.0)  and able to setup the resources.

May be we can close this but curios on why it failed on `master`? :)

[2020-01-15 22:34] ArnaldoLucienTema opened #63 "Error when adding the module with "create" set to false"
Hi!

This is how I'm setting the module up:

[code]

And I'm getting the following error:

Error: Invalid index
[code]

Is there any other way I should be making use of the `create` input variable? Can't find any examples in the codebase either.

Thanks

[2020-01-16 11:30] #63 closed

[2020-01-23 13:10] bushong1 commented on #46
@antonbabenko any chance to take a look at this PR?

[2020-01-23 14:34] noqqe commented on #21
Also affected by this issue all the time. Been using this module since years, always the same problem. Frustrating.

[2020-02-20 16:19] bushong1 commented on #46
Bump

[2020-04-02 19:26] kromol commented on #46
I also face this issue with `terraform 0.12` and it makes the pipeline to fail as well. @antonbabenko would you be able to find some time to review MR and hopefully merge it?

Thanks in advance

[2020-04-16 13:40] bermannoah commented on #46
Just want to +1 here, I've run into a lot of issues with using this module and an already existing topic. 😓 Would be great if this fix could be merged.

[2020-04-16 14:02] antonbabenko commented on #46
I still don't understand why it is happening, and the solution of passing the whole resource as an object does work but it is not how we handle arguments in `terraform-aws-modules`. Module arguments should always have plan types - string, list, map, bool, but not objects.

Also, I could not reproduce this problem myself which makes the fix rather hard for me. If anyone can give me 100% working ins

[2020-04-24 17:56] bushong1 commented on #46
@antonbabenko I gave an example of the bug that you never replied to.  I'll re-paste it here:

The bug only crops up in an already existing workspace.  So... `terraform apply` this:
[code]
and then edit the file to be this and apply again:
[code]

[2020-04-28 03:27] asfand-seekasia opened #80 "Invalid Index Error"
I recently ran the build and it caused this. Previously it was working fine. No updates
terraform version: 0.12.12
module version: 2.0

Error: Invalid index

  on .terraform/modules/sns_lambda_slack_notifier/main.tf line 50, in resource "aws_lambda_permission" "sns_notify_slack":
  50:   function_name = aws_lambda_function.notify_slack[0].function_name
    |----------------
    | aws_lambda_functi

[2020-04-29 14:41] bushong1 commented on #46
@antonbabenko I've created a fairly straightforward PR to address the problem.  Hopefully this helps clear things up.

[2020-05-25 19:27] okgolove commented on #53
For anyone who is searching for an answer: try to send a simple message using curl:
[code]

[2020-05-27 13:21] sohailnajar commented on #46
Not sure if you are still facing this but I managed to get around by adding depends_on in data section of the module instead of creating topic resource outside of the module.

[code]

[2020-06-07 15:39] antonbabenko commented on #80
Please give a try [v3.0.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v3.0.0) which has been just released.

It has a lot of improvements when working with Lambda resources.

[2020-06-07 15:39] #53 closed

[2020-06-07 15:42] antonbabenko commented on #21
Please give a try [v3.0.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v3.0.0) which has been just released. There I use a new dedicated [Lambda module](https://github.com/terraform-aws-modules/terraform-aws-lambda/), which has a lot of improvements when working with Lambda resources.

Closing this issue. Please open a new one if you find any issues with v3.0+

[2020-06-07 15:42] #21 closed

[2020-06-08 19:19] 1vanzamarripa opened #84 "Tried v3.0.0 - unexpected terraform replacement"
Tried using the new version , with this setup:

module "notify_slack_module" {
  source = "github.com/terraform-aws-modules/terraform-aws-notify-slack.git?ref=v3.0.0"
  sns_topic_name    = var.some_topic
  slack_webhook_url = var.slack_webhook_url
  slack_channel     = var.slack_channel
  slack_username    = var.slack_username
  lambda_function_name = "function_name"
}

First time terraform apply

[2020-06-08 19:49] 1vanzamarripa commented on #84
Also tried this configuration:
[code]
instead of
`  source = "github.com/terraform-aws-modules/terraform-aws-notify-slack.git?ref=v3.0.0"`

[2020-06-08 19:50] antonbabenko commented on #84
I am trying to reproduce it now and I can't.

If resource `null_resource.archive[0]` is the only one which it says "must be replaced" it means that the deployment package should be recreated locally because it has wrong timestamp. This should not happen normally.

Which version of OS, Terraform, Python do you use?

[2020-06-08 20:18] 1vanzamarripa commented on #84
Here you go:
[code]

[code]

tested on macOS

[2020-06-09 22:08] 1vanzamarripa commented on #84
This fails in my case because I'm running it on a CI/CD pipeline that clones the git repository every-time it runs and the module thinks that the zip file it generates in builds/ is a new one because it is always re-built on every pipeline run. I tried committing the builds directory to git source code but since the pipeline clones the repo everytime, the module always also thinks is a new zip fil

[2020-07-07 21:30] klucks83 opened #86 "Legacy Incoming Webhooks vs. Slack Apps"
Slack now appears to have the concept of Legacy Incoming Webhooks (https://api.slack.com/legacy/custom-integrations/incoming-webhooks) and new Incoming Webhooks (or Slack Apps - https://api.slack.com/incoming-webhooks).

When setting up an incoming webhook the new way (a Slack App), this TF module still works, however the slack_channel, slack_username, and slack_emoji Terraform inputs no longer ap

[2020-07-13 01:43] rahulk94 commented on #86
Ideally we should just use the new Slack App webhook configuration so that the webhook avatar and name are respected.

[2020-07-16 06:47] atrakic opened #87 "Make this module runnable with `hashicorp/terraform:light`"
This package cannot be used with `hashicorp/terraform:light` - as it requires python runtime.
Perhaps should be stated in requirements?
Alternatively simplify lambda handler packaging with data.archive_file.

[2020-07-29 02:54] benschwarz opened #90 "Failed to execute python3 on Terraform Cloud"
We added this module to a workspace in Terraform Cloud and received the following error:

[code]

Looking at the latest commit for `terraform-aws-lambda`, [the Python version is locked at `3.6` rather than 3.7](https://github.com/terraform-aws-modules/terraform-aws-lambda/blob/master/package.py#L5-L6).

I'm not sure if Terraform Cloud provides a python runtime, or if the Python runtime is required

[2020-08-05 11:30] ldormoy commented on #90
Same issue with Atlantis, the official docker image doesn't provide a python runtime and I'm very reluctant to install it just for this module.

[2020-08-06 09:56] ldormoy opened #91 "Exit code 1 on errors"
Hello,

I recently encountered an HTTP 404 caused by an invalid Slack web hook URL (default channel got deleted in Slack, so the web hook got automatically disabled).

It took time to identify this issue because the Lambda monitoring reported a 100% success rate for this function.

I think it would make sense to set the exit code to 1 if the Slack response isn't a HTTP 200.

What do you think?

[2020-08-10 20:24] tophercullen opened #93 "Update version requirements to allow AWS provider version 3.0+"
3.0 recently came out but current version restricts it to 2.7.

The current module version seems to function with 3.0 without modification.

[2020-08-13 08:48] #93 closed

[2020-08-13 10:38] paul-pop commented on #93
Unfortunately, the underlying `terraform-aws-modules/lambda` module uses version 1.6.0 so the initialization on Terraform 13 still fails with:

[code]

I'm raising a new PR now to upgrade to [1.18.0](https://github.com/terraform-aws-modules/terraform-aws-lambda/blob/master/CHANGELOG.md#v1180---2020-08-13)

[2020-08-13 12:46] paul-pop opened #97 "[bug] CloudWatch log group gets created twice and throws an error"
Running the latest [version](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v3.5.0) I noticed a CW log group gets created by both this module and the underlying lambda module, check output:

[code]

Then because of this, an error is thrown every time:

[code]

[2020-08-13 13:20] antonbabenko commented on #97
I will take a look at this later today or tomorrow.

[2020-08-13 13:43] paul-pop commented on #97
@antonbabenko would #98 be an acceptable fix or did you have something else in mind?

Initially, I wanted to delegate the entire CloudWatch log creation to the Lambda module but then I saw your comment so decided to the one in this module instead.

[code]

[2020-08-13 15:29] michaelm-88 commented on #97
same error here
[code]

[2020-08-13 18:17] antonbabenko commented on #97
I am looking into this issue now and the solution proposed in #98 is too simple and does not work for several situations.

I propose to have the following:
1. Users of Terraform 0.12 with AWS Provider 3 to use [this module v3.4.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/tree/v3.4.0).
2. Users of Terraform 0.13 can use the latest version of [this module](https://github.c

[2020-08-13 18:54] antonbabenko commented on #97
There is [v4.0.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v4.0.0) - for Terraform 0.13 users, and [v3.4.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/tree/v3.4.0) - for Terraform 0.12 users.

Please let me know if there are any issues related to this upgrade.

[2020-08-13 18:54] #97 closed

[2020-08-13 19:56] paul-pop commented on #97
That’s much better @antonbabenko thank you. Wasn’t sure on the approach you usually take for managing multiple TF versions.

[2020-08-13 21:57] anarsen opened #100 "v4.0.0 allows Terraform 0.12 but uses 'depends_on' on module block"
See https://github.com/terraform-aws-modules/terraform-aws-notify-slack/blob/793b6be5c1c711593d53b64bf5f8f66bb1e762b0/main.tf#L118

[2020-08-14 07:12] antonbabenko commented on #100
Hi, Anders!

Please check this comment - https://github.com/terraform-aws-modules/terraform-aws-notify-slack/issues/97#issuecomment-673651796

v4.0 - is for Terraform 0.13 users, but v3.4.0 - is for Terraform 0.12.

[2020-08-14 07:12] #100 closed

[2020-08-14 07:15] anarsen commented on #100
But shouldn't the `required_version` reflect that then?

https://github.com/terraform-aws-modules/terraform-aws-notify-slack/blob/793b6be5c1c711593d53b64bf5f8f66bb1e762b0/versions.tf#L2

[2020-08-14 07:18] antonbabenko commented on #100
Yes, it should, I will update it now.

[2020-08-14 07:27] antonbabenko commented on #100
Fixed in #100, and [v4.1.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v4.1.0) has been just released.

[2020-08-14 09:07] anarsen opened #102 "Any way to upgrade lambda module version to relax the AWS provider version requirement for TF 0.12?"
_**Note** This issue might belong in terraform-aws-modules/terraform-aws-lambda - sorry if that's the case_

## Context

The latest version for TF 0.12 as of this writing is v3.4.0, and relies on https://github.com/terraform-aws-modules/terraform-aws-lambda/tree/v1.6.0.

Unfortunately, `terraform-aws-modules/terraform-aws-lambda`  v1.6.0 has a pretty strict version requirement on the `aws` provide

[2020-08-14 09:15] antonbabenko commented on #102
Good point. I think we can have Lambda module version 1.6.0 updated to have support for AWS provider version 3, which is going to be used just by this notify-slack module.

[2020-08-14 10:15] michaelm-88 commented on #97
Error: failed to execute "python3": Traceback (most recent call last):
  File ".terraform/modules/slack_ooh-major.lambda/terraform-aws-lambda-1.6.0/package.py", line 6, in <module>
    raise RuntimeError("A python version 3.7 or newer is required")
RuntimeError: A python version 3.7 or newer is required
  on .terraform/modules/slack_ooh-major.lambda/terraform-aws-lambda-1.6.0/package.tf line 3, in

[2020-08-14 10:46] antonbabenko commented on #102
[v3.5.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v3.5.0) has been just released with this improvement.

[2020-08-14 10:46] #102 closed

[2020-08-14 11:59] anarsen commented on #102
Thanks for the swift response, @antonbabenko. It works as expected.

[2020-08-18 20:54] rohitjha941 opened #103 "Upgrading to 0.13"
I am trying to upgrade to terraform 0.13, I have updated the version. I am facing this err when running plan

[code]

Thanks

[2020-08-24 22:22] wesleung opened #104 "lambda-notify_slack and log group /aws/lambda/notify_slack already exists when calling module multiple times"
Trying to execute module twice for 2 separate SNS topic and slack channels, is this supported?

Does not look like it is supported as IAM Role and Log group is duplicated.

[code]

Eventually I would like to pass down a list of slack channels as shown below.  In the meantime I have to individually create each module for each slack channel

== main.tf ==
[code]

Here's an inverse if what you could

[2020-08-26 12:57] ecktom opened #105 "terraform-provider-aws v3.0.0 breaks aws_cloudwatch_log_group output"
When upgrading to v3.0.0 of terraform-provider-aws I get the following diff which looks like a breaking change:

[code]

Please see:
https://registry.terraform.io/providers/hashicorp/aws/latest/docs/guides/version-3-upgrade#resource-aws_cloudwatch_log_group

Similar Issues:
https://github.com/nozaq/terraform-aws-secure-baseline/issues/118

[2020-09-02 07:23] ecktom commented on #105
@antonbabenko can you confirm this error?

[2020-09-02 07:34] antonbabenko commented on #105
I will take a look at this issue later this week.

[2020-09-07 11:34] #105 closed

[2020-09-07 11:40] antonbabenko commented on #105
Thanks for the report. I missed this in the [upgrade guide](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/guides/version-3-upgrade).

[v4.2.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v4.2.0) has been just released.

[2020-09-07 12:00] antonbabenko commented on #103
Hi @rohitjha941 !

I think you can get this problem solved by running `terraform 0.13upgrade` and read "Explicit Provider Source Locations" section in [upgrade guide](https://www.terraform.io/upgrade-guides/0-13.html#explicit-provider-source-locations). It covers this case in detail.

I am pretty sure there is nothing we can do about the issue in this module, so closing this issue.

[2020-09-07 12:00] #103 closed

[2020-09-23 20:29] latacora-tomekr commented on #46
Commenting to mention that I also ran into this issue

[2020-10-06 14:25] olliebutler commented on #104
This can be solved by passing two different names to the module using the ‘lambda_function_name’ parameter

[2020-10-06 16:42] wesleung commented on #104
Thanks.  I also noticed IAM already exist issues when executing in 2 different regions

[2020-10-07 00:06] vamshi05 commented on #90
I've installed python3 on top of the tfc-agent's image to make it work.

[2020-10-07 00:19] benschwarz commented on #90
Could you please share the steps you took to achieve this?

[2020-10-07 01:18] vamshi05 commented on #90
You can build an image with this docker file and use it for your tfc agent. The base image is hashicorp/tfc-agent:latest
`FROM hashicorp/tfc-agent:latest
RUN apt-get -y update && apt-get -y install python3.8 python3-pip
ENTRYPOINT ["/bin/tfc-agent"]`

[2020-10-07 08:04] antonbabenko commented on #90
Python 3.8 should be installed on Atlantis, Terraform Cloud Agents, or other systems where you run Terraform.

Could you proofread this note which I am adding into README - https://github.com/terraform-aws-modules/terraform-aws-notify-slack/pull/108/files#diff-04c6e90faac2675aa89e2176d2eec7d8R49-R59 ?

[2020-10-07 23:19] benschwarz commented on #90
@antonbabenko I made a suggestion on the commit, otherwise LGTM.

[2020-10-08 07:20] antonbabenko commented on #90
[v4.4.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v4.4.0) has been just released with an updated note in README.

Not much else we can do in this module.

[2020-10-08 07:20] #90 closed

[2020-10-08 18:36] crosbymichael1 commented on #103
@rohitjha941 Were you able to work through this problem and if so how did you fix it?

[2020-10-09 23:16] llamahunter opened #109 "Errors when upgrading to terraform 0.13"
When trying to update to terraform 0.13 using terraform-aws-notify-slack v4.4.0, I am getting the following error during planning:

[code]

Note that I have _already_ run `terraform 0.13upgrade` on my modules and deployment terraform. Looking at the
notify-slack module, it appears you are not unisg explicit provider source locations in your code?  Please read
https://www.terraform.io/upgrade-guide

[2020-10-09 23:43] llamahunter commented on #109
Possibly, this has to do with your change of the lambda submodule, which removed resources that were still in use?  From the terraform 0.13 upgrade guide linked above

If you remove a resource block (or a module block for a module that contains resource blocks) before the first terraform apply, you may see a message like this reflecting that Terraform cannot determine which provider configuration

[2020-10-10 00:00] llamahunter commented on #109
Since these were just 'data' objects, not 'resources', I deleted them from the remote state using `terraform state rm`, and it seems to have unstuck me.  Still, there should probably be something in the README.md about how to make the transition from the 3.x to 4.x versions of this module.

[2020-10-10 13:46] bryantbiggs commented on #109
which version of 0.13.x are you using? there were known state migration issues on the earlier versions of 0.13 (0.13.1-0.13.2). its not an issue with the module here, but more with terraform itself
- https://github.com/hashicorp/terraform/blob/v0.13/CHANGELOG.md#0132-september-02-2020
- https://github.com/hashicorp/terraform/blob/v0.13/CHANGELOG.md#0132-september-02-2020

[2020-10-10 18:50] llamahunter commented on #109
using terraform 0.13.4

[2020-10-14 20:24] sblack4 opened #111 "[enhancement] Use name_prefix for cloudwatch log group to avoid namespace collisions"
https://github.com/terraform-aws-modules/terraform-aws-notify-slack/blob/82f536b8299df9a6f186e946fb2b51b5f34cc4af/main.tf#L52

We already have another similarly named group and so I get this error.

[code]

This can be avoided by using a `name_prefix`, https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/cloudwatch_log_group#name_prefix

[2020-10-14 20:41] pourtorabehsan opened #112 "Typo on subscription_filter_policy"
The input parameter: subsription_filter_policy has a typo. It's missing a c :

so just need to change subsription_filter_policy to subscription_filter_policy

[2020-10-15 07:27] antonbabenko commented on #112
Fixed in #113

[2020-10-15 07:27] #112 closed

[2020-10-30 19:06] eric-johnson commented on #109
I had the same problem.
I started with a clean plan in Terraform 0.12.29 and module version 3.5 (and a clean git workspace)
I pinned the module version to 4.0.0, ran `terraform_0.13.5 0.13upgrade` and `terraform_0.13 init`. Both were clean.
I get the errors above upon running `terraform_0.13.5 plan`

So I stashed my changes, and using Terraform 0.12.29 did a `terrafrom init` && `terraform state rm

[2020-11-04 17:12] okgolove opened #116 "'count' or 'for_each' with module breaks package.py"
### Steps to reproduce:
1. Try to create multiple notifiers using `for_each`:
[code]

### Expected behaviour:
3 sets of lambda and sns have been created

### Actual result:
Terraform fails with error:
[code]

There is a variable in the lamda module called [artifacts_dir](https://github.com/terraform-aws-modules/terraform-aws-lambda/blob/master/variables.tf#L450). May be we should be able to modify

[2020-11-04 17:17] antonbabenko commented on #116
Hi @okgolove !

The problem was in the Lambda module, which was fixed a couple of weeks ago but this module was not updated after that.

I will take a look into this now.

[2020-11-04 17:36] antonbabenko commented on #116
Please try to use code from the branch "ci-pre-commit" (ref #117).

It will require the recreation of lambda functions because the hash function has changed.

[2020-11-05 09:17] okgolove commented on #116
@antonbabenko thank you, now it works with for_each.

[2020-11-05 10:31] antonbabenko commented on #116
Good, thanks for the feedback and support!

[v4.6.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v4.6.0) has been just released.

[2020-11-05 10:31] #116 closed

[2020-11-17 14:48] jecnua opened #118 "Please update terraform-aws-lambda module version to 1.28.0 to allow the use of provider Random 3.0"
Hi all,

Connected to:

- https://github.com/terraform-aws-modules/terraform-aws-lambda/issues/70

The new version 1.28.0 has just been released.

- https://github.com/terraform-aws-modules/terraform-aws-lambda/releases/v1.28.0

Updating this dependency will allow us to use Random provider v3.0.

[2020-11-17 15:07] #118 closed

[2020-11-17 15:08] antonbabenko commented on #118
Fixed.

[v4.7.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v4.7.0) has been just released.

[2020-11-19 12:08] vdmkenny opened #120 "FileNotFoundError when creating module instance"
# Setup

Terraform version: `0.13.5`
Module version: `4.7.0`
module "notify_slack" used according to the basic example

In the "apply" stage for terraform, I get this output. Mind you, the module actually seems to work correctly.
I have messages arriving in slack.

What is this error relating to? My terraform pipeline stays red because of this...

[code]

[2020-11-19 12:27] vdmkenny commented on #120
It must've been because of some partial apply in between, I deleted everything and recreated it, and now it works. Sorry!

[2020-11-19 12:33] vdmkenny commented on #120
The same issue returned during the next `terraform apply` run. The initial creation is fine, then it throws this error every next time.

[2020-11-27 00:28] ZilvinasKucinskas commented on #103
Did someone solve this? I am unable to find a solution to upgrade right now. Terraform 0.13 is compatible only with v4 of `terraform-aws-modules/notify-slack/aws` and `v4` likely changes the resources 🤔

[2021-01-26 11:23] Kostiantyn-Vorobiov commented on #53
I've got the same issue. The root cause was a typo in the slack channel name.

[2021-02-17 02:19] invertigo opened #125 "Lambda environment changes on every apply when KMS used"
The SLACK_WEBHOOK_URL variable changes on every `terraform apply` when KMS encryption is used.  This causes `aws_lambda_permission.current_version_triggers` to require replacement due to the version of the lambda function incrementing.

I'm not sure what to do about this - you can't `ignore_changes` in modules

[2021-02-17 09:42] antonbabenko commented on #125
Hi @invertigo !

This sounds like a bug but I don't understand why it happens.

Please show the code you use and log output during "terraform apply".

[2021-02-17 14:41] invertigo commented on #125
Pretty basic usage.

[code]
And then here's the `terraform plan` output after the entire stack has been provisioned and nothing should be changing:
[code]
The KMS-encrypted SLACK_WEBHOOK_URL changes every time I run terraform, forcing some new resources.  I dunno how difficult it would be to get a lifecycle hook to ignore changes for that, but it would be welcome.

[2021-02-17 14:49] invertigo commented on #125
So not quite a bug, since TF is acting properly given the environment variable changes on every run.  I wonder if it's possible to tell TF not to regenerate the `slack_url` ciphertext on every run.

[2021-02-17 14:50] invertigo commented on #125
Aha: "The KMS ciphertext data source allows you to encrypt plaintext into ciphertext by using an AWS KMS customer master key. The value returned by this data source changes every apply. For a stable ciphertext value, see the aws_kms_ciphertext resource."

https://registry.terraform.io/providers/hashicorp/aws/latest/docs/data-sources/kms_ciphertext

[2021-02-17 14:51] antonbabenko commented on #125
Exactly :)

Here is an example for this - https://github.com/terraform-aws-modules/terraform-aws-notify-slack/blob/master/examples/cloudwatch-alerts-to-slack/main.tf#L11-L14

[2021-02-17 14:51] #125 closed

[2021-02-23 14:40] bushong1 commented on #46
Bump

[2021-02-25 08:47] KaKeimei opened #129 "Formatting Issue after v4.11.0"
I am using codepipeline  notification to get informed about the execution status.

The message aws returned is like this:

![image](https://user-images.githubusercontent.com/41569443/109126943-33536a00-7791-11eb-9883-ab5b05b4d89a.png)

But in the slack channel , the message was transformed into this:

![image](https://user-images.githubusercontent.com/41569443/109127071-567e1980-7791-11eb-9aca-c92

[2021-03-01 20:23] antonbabenko commented on #46
Finally! :)

[v4.12.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v4.12.0) has been just released.

[2021-03-01 20:23] #46 closed

[2021-03-08 07:53] mseest commented on #120
Any updates on this? I get the same error when doing `terraform apply`

[2021-03-12 16:10] rgreinho opened #132 "Module not idempotent"
## Description

The module is not idempotent and causes resources to be recreated with each plan.

## Versions

 - Terraform: Terraform v0.13.6
 - Provider(s): hashicorp/aws v3.20.0
 - Module: terraform-aws-modules/notify-slack/aws 4.12.0

## Reproduction

Steps to reproduce the behavior:

* Run the plan twice in a row: `terraform plan`

### Code Snippet to Reproduce

[code]

## Expected behavior

[2021-04-19 10:04] afsmeira opened #135 "Support Terraform 0.15"
## Description

Terraform 0.15 ([changelog](https://github.com/hashicorp/terraform/blob/v0.15.0/CHANGELOG.md)) removed the deprecated functions `list` and `map` which this module uses.

## Versions
 - Terraform: 0.15

## Reproduction
Steps to reproduce the behavior:

- Terraform file (see below)
- `terraform init && terraform validate`

### Code Snippet to Reproduce
[code]

## Expected behavior
`t

[2021-04-19 11:18] antonbabenko commented on #135
Fixed in #136. Thank you, @afsmeira !

[v4.14.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v4.14.0) has been just released.

[2021-04-19 11:18] #135 closed

[2021-04-21 13:49] Crontis commented on #120
Same here, getting this issue running Terraform in Gitlab CI. It sometimes works after some/many retries..
Running `terraform apply`  locally on OS X works just fine.

[2021-04-26 23:13] davidkarlsen opened #137 "feature: Support systems-manager / patch-manager events."
## Is your request related to a new offering from AWS?
not new feature or provider

## Is your request related to a problem? Please describe.
no

## Describe the solution you'd like.
funnel events from patch-manager (scans/updates and outcomes) https://docs.aws.amazon.com/systems-manager/latest/userguide/monitoring-sns-notifications.html into slack

## Describe alternatives you've considered.
one

[2021-05-10 11:47] keelefi opened #139 "Add formatting of EventBridge events"
## Is your request related to a new offering from AWS?

[aws_cloudwatch_event_rule](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/cloudwatch_event_rule) and [aws_cloudwatch_event_target](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/cloudwatch_event_target)

## Is your request related to a problem? Please describe.

Formatting of [Amazon

[2021-05-17 06:15] #80 closed

[2021-06-03 09:16] bngsudheer opened #141 "Add RDS Events Support"
## Is your request related to a new offering from AWS?
No. Existing AWS Feature.

Yes, available. See: https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/db_event_subscription

## Is your request related to a problem? Please describe.
AWS RDS can send DB instance events to SNS. The events can be routed via SNS to Lambda to Slack. Currently, there is no support to handle su

[2021-06-10 15:57] danielsepulvedab commented on #139
I also wanted to use this module to send EventBridge events to Slack. As @keelefi said the result message is just a JSON. Also I had to manually change the policy for the SNS topic to give `events.amazonaws.com` permission to publish to there. It would be nice if that also gets included here.
I could try to put up a PR if there's interest to merge it here.

[2021-06-15 17:06] svenlito commented on #139
@danielsepulvedab please go ahead with your PR! :)

[2021-06-18 12:08] sharq1 commented on #129
Is there any chance this gets fixed?

[2021-06-29 07:41] antonbabenko commented on #129
Probably this has been fixed in the latest release [v4.17.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/tag/v4.17.0).

Please reopen if the problem still exists.

[2021-06-29 07:41] #129 closed

[2021-06-29 07:43] antonbabenko commented on #139
@danielsepulvedab @svenlito Can this be closed now since yesterday's release of [4.17.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/tag/v4.17.0)?

[2021-06-29 07:45] danielsepulvedab commented on #139
Yes. Thanks for the release!

[2021-06-29 07:51] antonbabenko commented on #139
Thank you very much for your code changes, too!

Do not hesitate to review other open issues/prs if you have the possibility and tag my name if you think they are good to be merged.

[2021-06-29 07:51] #139 closed

[2021-07-07 22:04] alexfdz commented on #132
Seems related to  terraform-aws-modules/terraform-aws-lambda#105 and with a proposed solution described in the [FAQ section](https://github.com/terraform-aws-modules/terraform-aws-lambda#faq) in the README:

[2021-07-08 16:12] antonbabenko commented on #132
You are right, @alexfdz !

I am going to close this issue here.

[2021-07-08 16:12] #132 closed

[2021-07-12 17:27] AndrewFarley opened #144 "De-duplicate detection and omission"
## Is your request related to a new offering from AWS?
No

## Is your request related to a problem? Please describe.
Yes, one direct use-case is when using GuardDuty on multiple regions account-level issues will all generate the same(ish) output and cause some insane spam on your Slack channel.

## Describe the solution you'd like.
An option to enable/disable some intelligent duplicate detection w

[2021-07-12 17:29] AndrewFarley commented on #144
Note: This feature depending how it is implemented may end up making this stack cost quite a bit more to host by having to have an ElasticCache deployed.  Alternatively, could use something more serverless-friendly like DynamoDB which would have minimal added cost and complexity to this stack.  Either way it adds to this stack's complexity.

[2021-07-15 11:39] zakabluk commented on #109
Need use terraform replace, like this
[code]
for check your situation just do before terraform providers.

[2021-08-03 13:14] SimonRupar commented on #120
Same here. GitLab CI fails works locally on OS X.
Terraform version: 1.0.3
Module version: 4.17.0

I set GitLab CI environment variable to :
`TF_RECREATE_MISSING_LAMBDA_PACKAGE` to `false` and this resolved my issue. More about it here: https://github.com/terraform-aws-modules/terraform-aws-lambda/issues/51#issuecomment-681978205

[2021-09-30 18:08] dekimsey commented on #87
Looking at the python code, it's not even clear why a runtime/zip package is even needed. The pip requirements are just for testing, so I'm thinking why bother? The AWS lambda runtime already provides boto3, there isn't anything else the script imports.

[2021-09-30 18:18] antonbabenko commented on #87
Data source `archive_file` has a very basic set of features (no excludes, no files mask, etc) and most dangerous is that this data source creates archives during `terraform plan` but I believe `plan` should not create anything meaningful (`terraform apply` should).

Python is needed by the [terraform-aws-lambda](https://github.com/terraform-aws-modules/terraform-aws-lambda) module to build/rebuild

[2021-09-30 18:18] #87 closed

[2021-10-01 16:04] antonbabenko commented on #48
Fixed in #143.

[v4.18.0](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/releases/v4.18.0) has been just released.

[2021-10-01 16:04] #48 closed

[2021-10-13 19:53] aldenAMS opened #148 "Module fails to update .source_code_hash in aws_lambda_function.this when TF_RECREATE_MISSING_LAMBDA_PACKAGE is false"
## Description

Terraform apply failing with Error: Provider produced inconsistent final plan after updates to module causing archive to be rebuilt when TF_RECREATE_MISSING_LAMBDA_PACKAGE is set to 'false'

## Versions

 - Terraform: 1.0.8

 - Provider(s):
 - hashicorp/null v3.1.0
- hashicorp/external v2.1.0
- hashicorp/aws v3.62.0
- hashicorp/template v2.2.0
- hashicorp/local v2.1.0
- hashicorp/r

[2021-11-01 15:41] llamahunter commented on #148
I think a variable was added for this recently in the lambda module that makes this env variable unnecessary? https://github.com/terraform-aws-modules/terraform-aws-lambda/pull/181

[2021-12-10 22:33] llamahunter opened #154 "Version 4.20.0 has breaking changes to outputs"
## Description

All the outputs changed their names in version 4.20.0

## Versions

doesn't matter. verision 4.20.0 broke things.

## Reproduction

Try to use version 4.20.0 with existing terraform.

## Expected behavior
Breaking changes have major version number updates, as per semver.org

[code]

## Actual behavior
The 'this_' prefix on all outputs were removed

[2021-12-11 00:27] bryantbiggs commented on #154
see https://github.com/terraform-aws-modules/terraform-aws-notify-slack/pull/151#issuecomment-991388987

[2021-12-11 00:27] #154 closed

[2021-12-11 00:30] #59 closed

[2021-12-11 00:30] #60 closed

[2021-12-11 20:35] #148 closed

[2021-12-11 20:36] antonbabenko commented on #148
This issue has been resolved in version 4.23.0 :tada:

[2021-12-13 19:36] llamahunter commented on #154
This is an unprofessional response (i.e. downstream users need to fix their code to track backwards incompatible changes in minor version number releases).  Please follow SemVer semantics https://semver.org/

[code]

[2021-12-14 08:53] antonbabenko commented on #154
This issue has been resolved in version 4.24.0 :tada:

[2022-01-11 01:16] AndrewFarley commented on #144
un-stale

[2022-01-12 09:00] antonbabenko commented on #144
I don't think we will be adding such deduplication logic into the module because this module does just one thing - forward messages to Slack.

In order to achieve the deduplication logic, it has to happen before calling this module.

Something like, `GuardDuty/CloudTrail/etc` -> `SNS topic` -> `SQS queue to implement deduplication` ([read more](https://docs.aws.amazon.com/AWSSimpleQueueService/lat

[2022-01-12 09:00] #144 closed

[2022-01-12 13:22] bryantbiggs commented on #111
duplicate #104

[2022-01-12 13:22] #111 closed

[2022-01-14 04:03] jmstone617 opened #161 "Consecutive terraform plan always show changes to Lambda function"
## Description

Every time a `terraform plan` is run, the filename of the Lambda function is changing. `"null_resource" "archive"` is different every time, and thus the lambda function is destroyed and recreated on every apply.

I think the issue is related to executing this module twice in the same config. According to the docs for the Lambda module, a collision can occur if you do that and so th

[2022-01-14 09:35] antonbabenko commented on #161
lambda_function_name should be unique to avoid the behavior you are seeing. I can't imagine a better workaround for this, yet.

Closing this issue.

[2022-01-14 09:35] #161 closed

[2022-01-14 12:58] jmstone617 commented on #161
`lambda_function_name` is unique, but the behavior is as I described

[2022-01-22 00:31] #120 closed

[2022-01-22 00:31] #109 closed

[2022-02-01 11:19] UsaninMax commented on #148
issue is not resolved
![image](https://user-images.githubusercontent.com/2196217/151959463-9d8bf8cb-9e9e-473f-a4ef-23418276b38f.png)
![image](https://user-images.githubusercontent.com/2196217/151959508-b2d622ea-f44f-49af-b367-fd4faa3d22bf.png)

[2022-02-10 02:11] lpossamai opened #162 "Error: Duplicate variable declaration when performing Plan,Apply,Refresh"
## Description

After performing `terraform init`, `terraform workspace select prod`, if I ever try to `plan`, `apply` or `refresh` I get the following error: `Error: Duplicate variable declaration`.

I have tried the following:

1. `rm -rf .terraform`
2. `terraform init`
3. `terraform workspace select prod`
4. `terraform refresh` <-- it works!
5. `terraform plan` <-- I get the errors below

## Ve

[2022-02-10 02:56] lpossamai commented on #162
After upgrading my Terraform version, I am no longer seeing those errors. To check the steps I took, please visit [this link](https://discuss.hashicorp.com/t/template-v2-2-0-does-not-have-a-package-available-mac-m1/35099/4?u=lpossamai).

My new Terraform version on a MacBook PRO M1 chip is:

[code]

[2022-02-10 02:56] #162 closed

[2022-02-23 00:05] #137 closed

[2022-02-23 00:05] #104 closed

[2022-02-23 00:05] #91 closed

[2022-02-23 00:05] #86 closed

[2022-02-23 00:05] #3 closed

[2022-03-03 09:01] mauriciosolla opened #163 "Error: rpc error: code = Canceled desc = context canceled"
## Description
After performing `terraform plan` I get multiples `Error: rpc error: code = Canceled desc = context canceled`.

## Versions
- source = "terraform-aws-modules/notify-slack/aws"
- version = "4.24.0"

## Actual behavior
[code]

[2022-03-03 12:14] bryantbiggs commented on #163
This looks like a Terraform error

[2022-03-05 14:20] #163 closed

[2022-03-16 15:08] jkklapp commented on #104
FWIW I solved the problem on my side using a custom value in `lambda_function_name`. A similar answer has been downvoted above

[2022-03-18 11:21] aroes opened #164 "Add the account ID to guardduty messages"
## Is your request related to a new offering from AWS?
No

## Is your request related to a problem? Please describe.
Not having the account ID in the slack message for guardduty alerts makes it harder to evaluate the finding at a glance in multi account orgs.

## Describe the solution you'd like.
Add detail['accountId'] as a field in notify_slack.py

## Describe alternatives you've considered.
Alt

[2022-03-21 13:48] rastakajakwanna opened #165 "[TF Cloud] Constant drift on depending module.lambda.null_resource"
## Versions

 - Terraform:
1.1.7
 - Provider(s):
[code]
 - Module: `terraform-aws-modules/notify-slack/aws`
 - `module.lambda` with source `terraform-aws-modules/lambda/aws` causes the drift

## Reproduction

Note: Terraform Cloud workspaces with free (shared runners) are used and the issue is reproducible in every single workspace where the module is used which leads me to a conclusion that it is

[2022-04-06 00:06] #141 closed

[2022-04-21 11:08] rastakajakwanna commented on #165
This is still an issue.

[2022-04-28 00:08] #164 closed

[2022-05-03 23:01] nikolay commented on #165
Yeah, this is so annoying!

[2022-05-11 16:34] jwilson418 commented on #165
Still an issue on version 5

[2022-05-11 17:29] nikolay commented on #165
@jwilson418 v5 only bumped the AWS provider's version. Now all modules redundantly require v4 of the AWS provider, which is not compatible with v3 regarding S3, for example,

[2022-05-23 16:41] mbsimonovic opened #168 "feature: format CodePipeline messages"
## Is your request related to a new offering from AWS?

no

## Is your request related to a problem? Please describe.
CodePipeline messages contain all info as one big json blob which is difficult to quickly visually parse:

![Screen Shot 2022-05-23 at 18 35 02](https://user-images.githubusercontent.com/888008/169866589-e0b4dabb-1b29-4f12-9539-13f217eda9a1.png)

## Describe the solution you'd like

[2022-05-23 16:41] mbsimonovic commented on #168
@antonbabenko would you accept a PR for this?

[2022-05-27 08:35] baolsen opened #169 "Ability to specify IAM role name"
## Is your request related to a problem? Please describe.

Minor request.

We like naming our resources with a specific prefix, eg "my-customer-123-<resource>" for all AWS resources.

When lambda_function_name = "my-customer-123-sns-slack" and iam_role_name_prefix set to "", then the IAM Role Name that is created starts with Hyphen, ie "-my-customer-123-sns-slack".
If we set iam_role_name_prefix t

[2022-06-09 07:07] sobi3ch opened #171 "Custom lambda function"
## Is your request related to a new offering from AWS?
No

## Is your request related to a problem? Please describe.
Cannot use my custom lambda function code.

## Describe the solution you'd like.
Ability to overwrite default `source_path` in module lambda ([source](https://github.com/terraform-aws-modules/terraform-aws-notify-slack/blob/master/main.tf#L81))

## Describe alternatives you've consi

[2022-06-13 16:45] rastakajakwanna commented on #165
Still an issue, the latest version also forced us to pin the module version below 5 due to the AWS provider upgrade.

[2022-06-14 09:04] #171 closed

[2022-06-14 09:05] antonbabenko commented on #171
This issue has been resolved in version 5.2.0 :tada:

[2022-06-20 08:22] snmatsui commented on #165
I also got a similar issue. Local files of null_resource sometimes conficts when use this module multiply.

[code]

Error text
[code]

- terraform version: 1.1.9(TFcloud)

[2022-07-03 00:08] #168 closed

[2022-07-07 00:08] #169 closed

[2022-07-31 08:46] vicfergar commented on #165
Still an issue.

[2022-08-18 10:24] tl-matthew-harrold opened #174 "Add support for pre-built lambda package"
## Is your request related to a new offering from AWS?
No

## Is your request related to a problem? Please describe.
The module doesn't expose any method to supply a pre-packaged lambda.

## Describe the solution you'd like.
I'd like to be able to provide a pre-packaged lambda

## Describe alternatives you've considered.
None

## Additional context
We don't have Python installed in the environment

[2022-08-18 10:27] antonbabenko commented on #174
Good idea, PR is welcome for this feature.

[2022-08-25 23:27] nandac opened #176 "Add support for AWS Batch notifications"
## Is your request related to a new offering from AWS?
No.

Is this functionality available in the [AWS provider for Terraform](https://registry.terraform.io/providers/hashicorp/aws/latest/docs)? See [CHANGELOG.md](https://github.com/hashicorp/terraform-provider-aws/blob/main/CHANGELOG.md), too.
  - Yes ✅: AWS SNS notification backed by lambda. Has been around for a while.

## Is your request rela

[2022-08-31 08:41] vicfergar commented on #165
Still an issue

[2022-08-31 14:25] rafaelsales commented on #165
Still an issue

[code]

[2022-09-01 10:59] antonbabenko commented on #165
I know that this issue is still painful for some users.

I have just tried to run a slightly modified example (`recreate_missing_package = false`) on Terraform Cloud, and it seems to work well:

[code]

Could someone confirm that it works well? If so, we need to update README.

[2022-09-01 17:25] rastakajakwanna commented on #165
I confirm this parameter removes the drift in my case. Thanks!

Can you think of any possible side-effects when using this parameter? I would not guess this is something I want to add by default just from its name 😄

[2022-09-03 17:48] rafaelsales commented on #165
@antonbabenko this solved the issue! Thank you!!

[2022-09-07 02:22] lpossamai commented on #165
I still get this issue with version `5.3` on AWS.

[2022-09-07 06:02] antonbabenko commented on #165
@rafaelsales @rastakajakwanna Thanks for confirming that it works!

@lpossamai Could you please share more details about your case? Include code snippet, outputs from terraform apply.

[2022-09-20 16:01] chris3ware opened #177 "Expose dead_letter_target_arn variable from lambda module"
## Is your request related to a new offering from AWS?
No

## Is your request related to a problem? Please describe.

I'm unable to configure a dead-letter queue for the lambda function

## Describe the solution you'd like.

I'd like to be able to pass a dead-letter queue arn into the module. The child module - [terraform-aws-lambda](https://github.com/terraform-aws-modules/terraform-aws-lambda) -

[2022-09-21 10:15] antonbabenko commented on #177
This should be a relatively simple addition if anyone wants to work on it.

If not, I put it in the priority queue since you are my GitHub Sponsor, and I will make it during the week!

[2022-09-28 00:14] #174 closed

[2022-10-05 00:13] #176 closed

[2022-10-18 00:12] #165 closed

[2022-10-21 17:24] #177 closed

[2022-10-21 17:25] antonbabenko commented on #177
This issue has been resolved in version 5.4.0 :tada:

[2022-11-21 13:45] dansd opened #182 "No Slack message while HTTP response code is 200"
Hello, I have been trying to get the module to work, and I am asking here for new ideas on how to debug this issue.

# Issue
I have the module deployed with CloudWatch Alarms. If an alarm fires, I can not see any Slack messages.

# Debug attempt
Code was modified as follows:

To verify the json payload and webhook url, I added these two lines in line 372:

[code]

To verify the http response, I pr

[2022-11-23 09:28] dansd commented on #182
The issue was resolved by replacing urlencode with dumping the json object to a string and encoding it to utf-8. I opened a PR: https://github.com/terraform-aws-modules/terraform-aws-notify-slack/pull/183